### https://raw.github.com/github/gitignore/14b7566ce157ce95b07006466bacee160f242284/maven.gitignore

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


site-content
/.classpath
/.project
/.settings/

### Ignore IntelliJ files
/.idea/
*.iml
/bin/

### Ignore Visual Studio code files
/.vscode/
