# build.properties.sample - Sample build.properties for "io"

# Base properties for expansion below
commons.home=../../jakarta-commons
junit.home=/usr/local/junit3.7

# Derived home directories
lang.home=${commons.home}/lang

# Jakarta JAR files
commons-lang.jar=${lang.home}/dist/commons-lang.jar

# External packages
junit.jar=${junit.home}/junit.jar
